
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    padding: 50px;
    font-weight: 700;
    font-size: 72px;
    flex: 1;
}
.results{
    white-space: pre-line;
}